@using Dominio;
@using Microsoft.AspNetCore.Http;


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>
        Sistema de gestión de la actividad cultural y comercial de acceso público. <br />
        Dirección Nacional de Cultura.
    </p>
</div>
